@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --visor-bg: hsl(224, 36%, 15%);
  --btn-general: hsl(45, 7%, 89%);

  --header-text-color: hsl(225, 100%, 100%);

  /* Default Buttons */
  --btn-default: hsl(30, 25%, 89%);
  --btn-default-shadow: hsl(28, 16%, 65%);

  /* Erase Buttons */
  --btn-erase: hsl(225, 21%, 49%);
  --btn-erase-shadow: hsl(224, 28%, 35%);

  /* Equal Button */
  --btn-equal: hsl(6, 63%, 50%);
  --btn-equal-shadow: hsl(6, 70%, 34%);

  /* Button Color */
  --btn-default-color: hsl(0, 0%, 0%);
  --btn-erase-color: hsl(0, 0%, 100%);
  --btn-equal-color: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  font-family: "spartan", sans-serif;

  background-color: var(--main-bg);

  /* border: 1px solid red; */
}

#calc-container__body,
#visor-container__visor {
  border-radius: 8px;
}

#main-container {
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  /* border: 1px solid blue; */
}

#calc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  /* border: 1px solid red; */
}

#calc-container__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
  /* border: 1px solid red; */
}

#header__top-container {
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
  color: var(--header-text-color);
}

#visor-container__visor {
  width: 100%;
  padding: 0.6em;
  height: 110px;
  font-family: "spartan", sans-serif;
  font-size: 32px;
  color: hsl(0, 0%, 100%);
  background-color: var(--visor-bg);
}

#calc-body {
  height: 70%;
  padding: 0.4em;
  display: grid;
  border-radius: 10px;

  background-color: var(--toggle-keypad-bg);

  /* border: 1px solid blue; */
}

.calc-body__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Button section */

.btn {
  margin: 0.4em;
  width: 0.2em;
  height: 5rem;
  color: var(--btn-default-color);
  border-radius: 0.5em;
  cursor: pointer;
  flex-grow: 1;
  font-family: "spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  border: none;
}

.btn--default {
  background-color: var(--btn-default);
  box-shadow: 0px 5px 1px 0px var(--btn-default-shadow);
}

.btn--erase {
  background-color: var(--btn-erase);
  color: var(--btn-erase-color);
  box-shadow: 0px 5px 1px 0px var(--btn-erase-shadow);
}

.btn--equal {
  background-color: var(--btn-equal);
  color: var(--btn-equal-color);
  box-shadow: 0px 5px 1px 0px var(--btn-equal-shadow);
}

.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 150px;
}

.switch-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-numbers {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 2px;
  font-size: 0.6em;
}

#switch-label {
  display: inline-block;
  width: 75px;
  height: 26px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

#switch-label::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 3px;
}

#switch {
  width: 90%;
}

#text-theme {
  margin-right: 25px;
  font-size: 0.8em;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  outline: none;
  border: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--toggle-keypad-bg);
  padding: 0.4em;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--btn-equal);
  height: 15px;
  width: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.btn--default {
  background-color: var(--btn-default);
  box-shadow: 0px 2px 1px 1px var(--btn-default-shadow);
}

#visor-container__visor {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
